.homepageWrapper {
    background-color: #FBF9E1;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
}

.sterlingLogo {
    height: 2rem;
    width: auto;
}

.leftSection {
    width: 35%;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: 100vh;
    overflow-y: auto;
}


.topLeft {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.sterlingCallout {
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 0.5rem;
}

.udinnaPitch {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.75rem;
}

.boldenedText {
    font-weight: 700;
}

.headerBtnContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.tableOfContents {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.contentSection {
    display: flex;
    gap: 2.5rem;
    align-items: start;
    padding: 1.5rem;
    border: 1px solid #888854;
    border-radius: 0.5rem;
    transition: all 1s ease;
}

.contentSection:hover:not(.activeSection) {
    background-color: #E9E8D4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.activeSection {
    background: hsla(58, 75%, 79%, 0.96);
    box-shadow:
        -12px 16px 24px 3px rgba(149, 142, 28, 0.30) inset, 
        -0.504px 0.991px 0.889px -0.375px rgba(149, 142, 28, 0.45), 
        -1.194px 2.349px 2.108px -0.75px rgba(149, 142, 28, 0.44), 
        -2.178px 4.284px 3.845px -1.125px rgba(149, 142, 28, 0.44),
        -3.622px 7.123px 6.393px -1.5px rgba(149, 142, 28, 0.43), 
        -5.849px 11.503px 10.323px -1.875px rgba(149, 142, 28, 0.42),
        -9.574px 18.829px 16.899px -2.25px rgba(149, 142, 28, 0.40), 
        -16.486px 32.422px 29.098px -2.625px rgba(149, 142, 28, 0.37), 
        -30px 59px 52.951px -3px rgba(149, 142, 28, 0.30), 
        0px -6px 0px 0px rgba(149, 142, 28, 0.30) inset;
    overflow: hidden;
    position: relative;
}

.activeSection::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../../assets/images/noisy-bg.webp');
    background-size: cover;
    opacity: 0.04;
    pointer-events: none;
    z-index: 0;
}

.activeSection > * {
    position: relative;
    z-index: 1;
}

.contentHeaderOne {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1.5rem;
}

.contentHeaderTwo,
.contentHeaderThree {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.contentHeaderThree {
    gap: 0.5rem;
}

.contentHeaderTwo {
    padding-top: 1.5rem;
}

.dividerDot {
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: #3A4449;
}
.rightSection {
    width: 65%;
    height: 100vh;
    overflow-y: auto;
}

.udinnaLarge {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.topRight {
    background: url('../../assets/images/right-side_bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.rightProjectLinkList {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    width: 100%;
    border-top: 0.5px solid #3f3f3f;
    padding-right: 2.5rem;
    padding-left: 2.5rem;

}

.rightProjectLink {
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: right;
    width: 100%;
    border-bottom: 0.5px solid #3f3f3f;
}